<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        a:link {
            color: red;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: blue;
            text-decoration: underline;
        }
    </style>
    <meta charset="UTF-8">
    <div th:replace="fragment/header"></div>
    <title>고객 현황</title>
</head>
<body>
<nav th:replace="fragment/navbar"></nav>
<h1 style="text-align: center"> 고객 정보</h1><br><br>
<div style="margin:0 auto;width: 50% ">

    <table class="table" style="text-align: center">
        <thead>
        <tr>
            <th>고객 번호</th>
            <th>이름</th>
            <th>ID</th>
            <th>PW</th>
            <th>주소</th>
            <th>연락처</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.userNum}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.pw}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.address}"></td>


        </tr>
        </tbody>


    </table>
</div>
</body>
</html>